MarketProfileJob:
  PersistPeriod:
    settings-key: MarketProfileJob-PersistPeriod
  Db:
    LogsConnString:
      settings-key: MarketProfileJob-LogsConnString
      types: [ AzureTableStorage ]
    AssetPairsPricesConnString:
      settings-key: MarketProfileJob-AssetPairsPricesConnString
      types: [ AzureTableStorage ]
  Blob:
    Container:
      settings-key: MarketProfileJob-Blob-Container
    Key:
      settings-key: MarketProfileJob-Blob-Key
  Redis:
    Configuration:
      settings-key: RedisConfiguration
      types: [ Redis ]
  RabbitMq:
    QuotesConnectionString:
      settings-key: MarketProfileJob-QuotesConnectionString
      types: [ RabbitMq ]
    QuotesExchangeName:
      settings-key: MarketProfileJob-QuotesExchangeName
SlackNotifications:
    AzureQueue:
        ConnectionString:
            settings-key: SlackNotificationsConnString
            types:
                - AzureTableStorage
        QueueName:
            settings-key: SlackQueueName
MonitoringServiceClient:
    MonitoringServiceUrl:
        settings-key: MonitoringServiceUrl

